[Unit]
Description=Zgres Database Controller

[Service]
User=root
ExecStart=/usr/bin/zgres-deadman --verbose
Restart=always

[Install]
WantedBy=multi-user.target

