[Unit]
Description=Zgres Database Controller
After=cloud-final.service

[Service]
User=root
PrivateTmp=true
ProtectHome=read-only
NoNewPrivileges=true
ExecStart=/usr/bin/zgres-deadman --verbose
Restart=always

[Install]
WantedBy=multi-user.target

